<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Manage a course</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/main.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/components.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/dashboard.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/leaderboard.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/font_awesome/css/all.min.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/myGarden.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/adminPage.css">
    </head>
    <body id="body_root">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@@host/adminPage" class="nav-link">
                        <i class="fa-solid fa-hammer fa-2xl"></i>
                        <span class="link-text"> Admin Page</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@@host/api/v1/logout" class="nav-link">
                        <i class="fa-solid fa-person-walking-arrow-right fa-2xl"></i>
                        <span class="link-text"> Disconnect</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
            </ul>
        </nav>

        <main>
            <div style="color:green" class="add_button"><a class="add_plants" onclick="openModal('add_course')"><i class="fa-solid fa-circle-plus fa-2xl"></i></a></div>
            <div class="table_placement" style="background-color:green">
                <div class="table_construction">
                    <table>
                        <div> 
                                <tr>
                                <th>Name of course</th>
                                <th>Estimated completion time</th>
                                <th>Number of courses</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </div>

                        @@zen

                        return wiredObject["courses"].map(course => {
                            return `
                            <div> 
                                <tr>
                                    <th>${course.name}</th>
                                    <th>${course.duration}</th>
                                    <th>${course.nrOfChildren}</th>
                                    <th><a class="add_plants" onclick="openModal('edit_course')"><i class="fa-solid fa-pen-to-square"></i></a></th>
                                    <th><a class="add_plants" onclick="openModal('delete_course')"><i class="fa-solid fa-trash-can"></i></a></th>
                                </tr>
                                <tr>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </div>

                            `
                        }).join("\n")

                        @@zen
                        
                        </table>
                    </div>
            </div>
        </main>

        <div class="modals_heap">
            <div class="modal_container long_modal_container" id="add_course">
                <div class="modal course_add_edit_modal">
                    <div class="full-form-container">
                        <form class="pretty_form" id="create_form" action="@@host/api/v1/courses" method="post" enctype="multipart/form-data">
                            <label for="create_course_name">Name</label>
                            <input type="text" id="create_course_name" name="name" required>
                            <label for="create_course_parrentCourse">Parrent Course</label>
                            <select id="create_course_parrentCourse" name="parrentCourse" required>
                                <option value="null">This is a parent course</option>
                                @@zen
                                    return wiredObject["parentCourses"].map(course => {
                                        return `<option value="${course.id}">${course.name}</option>`
                                    }).join("\n")
                                @@zen      
                            </select>
                            <label for="create_course_description">Description</label>
                            <input type="text" id="create_course_description" name="description" required>
                            <label for="create_course_content">Content</label>
                            <textarea id="create_course_content" name="content" rows="4" ></textarea>
                            <label for="create_course_duration">Duration</label>
                            <input type="number" min="0" id="create_course_duration" name="duration" required>
                            <label for="create_course_image">Course Image</label>
                            <input type="file" id="create_course_image" name="image" accept="image/png, image/jpeg" required>
                            <label for="create_course_video">Course Video</label>
                            <input type="file" id="create_course_video" name="video" accept="video/mp4" required>
                        </form>
                    </div>
                    <div class="modal-action-buttons">
                        <button type="submit" form="create_form" class="button-filled button-filled-dark-green">Create</button>
                        <div class="button-box button-box-red" onclick="closeModal('add_course')">Cancel</div>
                    </div>
                </div>
            </div>
            <div class="modal_container long_modal_container" id="edit_course">
                <div class="modal course_add_edit_modal">
                    <div class="full-form-container">
                        <form class="pretty_form" id="edit_form" action="/">
                            <label for="edit_course_name">Name</label>
                            <input type="text" id="edit_course_name" name="name" required>
                            <label for="edit_course_parrentCourse">Parrent Course</label>
                            <select id="edit_course_parrentCourse" name="parrentCourse" required>
                                <option value="null">This is a parent course</option>
                                @@zen
                                    return wiredObject["parentCourses"].map(course => {
                                        return `<option value="${course.id}">${course.name}</option>`
                                    }).join("\n")
                                @@zen      
                            </select>
                            <label for="edit_course_description">Description</label>
                            <input type="text" id="edit_course_description" name="description" required>
                            <label for="edit_course_content">Content</label>
                            <textarea id="edit_course_content" name="content" rows="4" ></textarea>
                            <label for="edit_course_duration">Duration</label>
                            <input type="number" min="0" id="edit_course_duration" name="duration" required>
                            <label for="edit_course_image">Course Image</label>
                            <input type="file" id="edit_course_image" name="image" accept="image/png, image/jpeg" required>
                            <label for="edit_course_video">Course Video</label>
                            <input type="file" id="edit_course_video" name="video" accept="video/mp4" required>
                        </form>
                    </div>
                    <div class="modal-action-buttons">
                        <button type="submit" form="add_plant_form" class="button-filled button-filled-dark-green">Edit</button>
                        <div class="button-box button-box-red" onclick="closeModal('edit_course')">Cancel</div>
                    </div>
                </div>
            </div>
            <div class="modal_container" id="delete_course">
                <div class="modal course_delete_modal">
                    <div class="full-form-container">
                        <div>
                            Are you sure you want to delete this course?
                        </div>
                    </div>
                    <div class="modal-action-buttons">
                        <div class="button-box button-box-red" onclick="closeModal('delete_course')">Cancel</div>
                        <button type="submit" form="add_plant_form" class="button-filled button-filled-dark-green">Delete</button>
                    </div>
                </div>
            </div>
        </div>


    


    <script src="@@host/public/frontend/resources/scripts/navBar.js"></script>
    <script src="@@host/public/frontend/resources/scripts/modal.js"></script>
    
        <script></script> <!-- it should do something-->
    </body>
</html>