<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gardening tutor</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/main.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/components.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/frontpage.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/nav-bar.css">
        <link rel="stylesheet" href="@@host/public/frontend/resources/styles/image-carousel.css">
    </head>
    <body id="body_root">
        <div class="nav-bar">
            <div class="nav-bar-content">
                <div class="nav-bar-field">
                    <div class="nav-bar-logo">
                        <img alt="image of tree" src="@@host/public/frontend/resources/images/logo_wheat.png" />
                        <div class="nav-bar-text">Gardening tutor</div>
                    </div>
                </div>
                <div class="nav-bar-field nav-bar-buttons" id="nav-bar-hamburger-element">
                    @@zen
                        if (!wiredObject['session']['isLoggedIn']) {
                            return `
                                <a class="button-plain button-plain-wheat nav-bar-button" href="#" onclick="openModal('signup_modal')">Sign up</a>
                                <a class="button-box button-box-wheat nav-bar-button" href="#" onclick="openModal('login_modal')">Login</a>
                            `
                        }
                        else {
                            return `
                                <a class="button-plain button-plain-wheat nav-bar-button" href="${wiredObject['session']['user']['role'] == 'user' ? '/courses' : '/adminPage'}">Dashboard</a>
                            `
                        }
                        return wiredObject['session']["email"]
                    @@zen

                    <div class="nav-bar-close-hamburger" onclick="closeHamburgerNavbar()"><i>x</i></div>
                </div>
                <div class="nav-bar-field nav-bar-toggle-hamburger" onclick="openHamburgerNavbar()">
                    <i>+</i>
                </div>
            </div>
        </div>
        <div class="frontpage-components">
            <div class="head-component">
                <div class="head-component-container">
                    <div class="head-component-text">
                        <div class="head-component-text-title">
                            Make your garden look the best in your neighbourhood
                        </div>
                        <div class="head-component-text-description">
                            Learn the art of gardening from easy to follow courses,
                            monitor your progress and become the best with Gardening tutor
                        </div>
                        
                        <div class="head-component-text-buttons">
                            <a class="button-filled button-filled-dark-green" href="#image-slider">Images</a>
                            <a class="button-box button-box-dark-green" href="#about-courses">About courses</a>
                        </div>
                        
                    </div>
                    <div class="head-component-image">
                        <img alt="image of tree" src="@@host/public/frontend/resources/images/logo.webp" />
                    </div>
                </div>
            </div>
            <div class="carousel-component" id="image-slider">
                <div class="carousel-component-container">

                    <div class="image-slider-panel">
            
                        <div class="image-slider-arrow" onclick="plusSlides(-1)"><i>&#10094;</i></div>
            
                        <div class="image-slider-slide image-slider-active-slide card">
                            <div class="image-slider-img">
                                <img alt="image of gardening tools" src="@@host/public/frontend/resources/images/carousel/carousel1.webp" />
                            </div>
                            <div class="image-slider-text">
                                <p class="image-slider-title">Garden tools</p>
                                <p class="image-slider-description">Learn to use them and enjoy the fruits of your work</p>
                            </div>
                        </div>
            
                        <div class="image-slider-slide card">
                            <div class="image-slider-img">
                                <img alt="image of flowers" src="@@host/public/frontend/resources/images/carousel/carousel2.webp" />
                            </div>
                            <div class="image-slider-text">
                                <p class="image-slider-title">Beautiful flowers</p>
                                <p class="image-slider-description">Learn to take care of flowers, have a beautiful garden and life</p>
                            </div>
                        </div>
            
                        <div class="image-slider-slide card">
                            <div class="image-slider-img">
                                <img alt="image of vegetables" src="@@host/public/frontend/resources/images/carousel/carousel3.webp" />
                            </div>
                            <div class="image-slider-text">
                                <p class="image-slider-title">Eat healthy</p>
                                <p class="image-slider-description">Grow your own vegetables and cook wanderful dishes</p>
                            </div>
                        </div>
            
                        <div class="image-slider-arrow" onclick="plusSlides(1)"><i>&#10095;</i></div>
            
                    </div>
            
                    <div class="image-slider-dots">
            
                        <span class="image-slider-dot" onclick="currentSlide(1)"></span>
                        <span class="image-slider-dot" onclick="currentSlide(2)"></span>
                        <span class="image-slider-dot" onclick="currentSlide(3)"></span>
            
                    </div>

                </div>
            </div>
            <div class="garden-devider-component"></div>
            <div class="description-component">
                <div class="description-component-container">
                    <div class="description-bloks-row" id="description-bloks-first-row">
                        <div class="card description-block" id="description-block-first">
                            <div class="description-block-title"> 
                                WHY US?
                            </div>
                            <div class="description-block-text">
                                It's great hand-eye coordination. This definitely needs to be in sync
                                when gardening so those important messages can be sent can to the brain.
                                It's a way to commune with nature. Birds, bees & butterflies still delight.
                                It's so satisfying to see something grow.  Whether it's ornamental or food,
                                it's so satisfying to watch what you planted take off.It's can be downright
                                meditative. Gardening is food for the soul.It's an escape. If something's 
                                bugging you, simply grab the pruners.Researchers found that bacteria found
                                in the soil actually helped activate brain cells that could produce serotonin.
                            </div>
                        </div>
                        <div class="card description-block" id="description-block-second">
                            <div class="description-block-title">
                                CHOOSE A HEALTHY LIFE
                            </div>
                            <div class="description-block-text">
                                A diet rich in vegetables and fruits can lower blood pressure, reduce the
                                risk of heart disease and stroke, prevent some types of cancer, lower risk
                                of eye and digestive problems, and have a positive effect upon blood sugar, 
                                which can help keep appetite in check. Eating non-starchy vegetables and 
                                fruits like apples, pears, and green leafy vegetables may even promote weight
                                loss.Their low glycemic loads prevent blood sugar spikes that can increase
                                hunger.At least nine different families of fruits and vegetables exist, each
                                with potentially hundreds of different plant compounds.
                            </div>
                        </div>
                    </div>
                    <div class="description-component-center-decoration-container">
                        <div class="description-component-center-decoration">

                        </div>
                    </div>
                    <div class="description-bloks-row" id="description-bloks-second-row">
                        <div class="card description-block" id="description-block-third">
                            <div class="description-block-title">
                                YOU CAN LOVE GARDENING
                            </div>
                            <div class="description-block-text">
                                This is a place for gardeners, plant lovers, explorers, cooks and eaters, 
                                readers and writers, walkers, lookers, wonderers and wanderers, collectors, 
                                creators, tinkerers, savers, builders, and those born curiousThe main reason
                                we garden is to enjoy the fruits of our labor in the kitchen! 
                                Since the beginning of agriculture, families have reserved a piece of land 
                                specifically for growing food for their own family. These kitchen gardens have 
                                always been close to where the food is prepared, the produce and herbs gathered
                                at the peak of freshness to be eaten immediately or canned and preserved for winter.
                            </div>
                        </div>
                        <div class="card description-block" id="description-block-forth">
                            <div class="description-block-title">
                                SNEAK PEEK
                            </div>
                            <div class="description-block-text">
                                The application offers courses that are managed by admins. Admins can add,
                                edit or remove courses. The application implements a rich text editor for 
                                making courses. Users need to authenticate in order to use the application.
                                Adimns are already seeded in the database and they just need to login. 
                                Courses are structured into subcourses in an tree manner. Users can manage
                                their own garden by adding and harvesting plants on the application.
                                Gardening web tutor is an application that teaches users how to plant and
                                 harvest various vegetables and fruits and lets them manage their own 
                                 garden as well as giving them reminders.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="platform-stats-component">
                <div class="platform-stats-component-container">
                    <div class="platform-stats">
                        <div class="platform-stats-name">
                            Courses
                        </div>
                        <div class="platform-stats-value" id="courses-stats">
                            @@zen return `${wiredObject["courses"].length}` @@zen
                        </div>
                    </div>
                    <div class="platform-stats">
                        <div class="platform-stats-name">
                            Videos
                        </div>
                        <div class="platform-stats-value" id="videos-stats">
                            @@zen return `${wiredObject["courses"].length}` @@zen
                        </div>
                    </div>
                    <div class="platform-stats">
                        <div class="platform-stats-name">                        
                            Users
                        </div>
                        <div class="platform-stats-value" id="users-stats">
                            @@zen return `${wiredObject["nrOfUsers"]}` @@zen
                        </div>
                    </div>
                </div>
            </div>
            <div class="courses-preview-component" id="about-courses">
                <div class="courses-preview-component-container">
                    <div class="courses-preview-list">
                        @@zen
                            return wiredObject["courses"].map(course => `
                                <div class="card course-preview">
                                    <div class="course-preview-text">
                                        <div class="course-preview-title">
                                            ${course.name}
                                        </div>
                                        <div class="course-preview-description">
                                            ${course.description}
                                        </div>
                                    </div>
                                    <div class="course-preview-image">
                                        <img alt="image relevant to course" src="${course.imgPath}" />
                                    </div>
                                </div>
                            `).join("\n")
                        @@zen
                    </div>
                </div>
            </div>
            <div class="feedback-component">
                <div class="feedback-component-container">
                    <form class="feedback_form" id="feedback_form" action="@@host/api/v1/giveFeedback" method="post" enctype="multipart/form-data">
                        <label for="feedback_email">Email</label>
                        <input type="email" id="feedback_email" name="email" pattern=".+@.+\..+" required>
                        <label for="feedback_body">Feedback</label>
                        <textarea id="feedback_body" name="body" required></textarea>
                        <button type="submit" form="feedback_form" class="button-box button-box-wheat">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="modals_heap"> <!-- De ce asta aici?,de unde vine?-->
            <div class="modal_container" id="signup_modal">
                <div class="modal">
                    <div class="full-form-container">
                        <form class="pretty_form" id="signup_form">
                            <label for="signup_name">Name</label>
                            <input type="text" id="signup_name" name="name" required>
                            <label for="signup_email">Email</label>
                            <input type="email" id="signup_email" name="email" pattern=".+@.+\..+" required>
                            <label for="signup_password">Password</label>
                            <input type="password" id="signup_password" name="password" required>
                            <label for="signup_confirm_password">Confirm Password</label>
                            <input type="password" id="signup_confirm_password" name="confirm_password" required>
                        </form>
                    </div>
                    <div class="modal-action-buttons">
                        <button type="submit" form="signup_form" class="button-filled button-filled-dark-green">Sign up</button>
                        <div class="button-box button-box-red" onclick="closeModal('signup_modal')">Cancel</div>
                    </div>
                </div>
            </div>
            <div class="modal_container" id="login_modal">
                <div class="modal">
                    <div class="full-form-container">
                        <form class="pretty_form" id="login_form" action="/api/v1/login" method="post" enctype="multipart/form-data">
                            <label for="login_email">Email</label>
                            <input type="email" id="login_email" name="email" pattern=".+@.+\..+" required>
                            <label for="login_password">Password</label>
                            <input type="password" id="login_password" name="password" required>
                        </form>
                    </div>
                    <div class="modal-action-buttons">
                        <button type="submit" form="login_form" class="button-filled button-filled-dark-green">Login</button>
                        <div class="button-box button-box-red" onclick="closeModal('login_modal')">Cancel</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="@@host/public/frontend/resources/scripts/navBar.js"></script>
        <script src="@@host/public/frontend/resources/scripts/imageCarousel.js"></script>
        <script src="@@host/public/frontend/resources/scripts/modal.js"></script>
        <script src="@@host/public/frontend/resources/scripts/countingNumbers.js"></script>
        <script src="@@host/public/frontend/resources/connection_scripts/formHandler.js"></script>
        <script src="@@host/public/frontend/resources/connection_scripts/auth.js"></script>
        <script>
            addWhatchedNumberCounter('courses-stats', 0, @@zen return `${wiredObject["courses"].length}` @@zen, 500)
            addWhatchedNumberCounter('videos-stats', 0, @@zen return `${wiredObject["courses"].length}` @@zen, 500)
            addWhatchedNumberCounter('users-stats', 0, @@zen return `${wiredObject["nrOfUsers"]}` @@zen, 500)

            addCustomRegisterHandle('signup_form')
            addCustomLoginHandle('login_form')
        </script>
    </body>
</html>