<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leader board</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/frontend/resources/styles/main.css">
        <link rel="stylesheet" href="public/frontend/resources/styles/components.css">
        <link rel="stylesheet" href="public/frontend/resources/styles/dashboard.css">
        <link rel="stylesheet" href="public/frontend/resources/styles/leaderboard.css">
        <link rel="stylesheet" href="public/frontend/resources/font_awesome/css/all.min.css">
    </head>
    <body id="body_root">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/main" class="nav-link">
                        <i class="fa-solid fa-house fa-2xl"></i>
                        <span class="link-text"> Home</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/myGarden" class="nav-link">
                        <i class="fa-solid fa-seedling fa-2xl"></i>
                        <span class="link-text"> Garden</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/courses" class="nav-link">
                        <i class="fa-solid fa-book-bookmark fa-2xl"></i>
                        <span class="link-text"> Courses</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/leaderboard" class="nav-link">
                        <i class="fa-solid fa-ranking-star fa-2xl"></i>
                        <span class="link-text"> Leaderboard</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/v1/logout" class="nav-link">
                        <i class="fa-solid fa-person-walking-arrow-right fa-2xl"></i>
                        <span class="link-text"> Disconnect</span><!-- marcheaza inceputul de text -->
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="wrapper">
                <div class="lboard_section">
                    <div class="lboard_tabs">
                        <div class="tabs">
                            Most active Users
                        </div>
                    </div>
            
                    <div class="lboard_wrap">
                       
                        <div class="lboard_item month" style="display: block;">
                            <div class="lboard_mem">
                                <div class="img">
                                    <img src="public/frontend/resources/images/users/pic_2.png" alt="picture_2">
                                </div>
                                <div class="name_bar">
                                    <p><span>1.</span> Alex Mike</p>
                                    <div class="bar_wrap">
                                        <div class="inner_bar" style="width: 95%"></div>
                                    </div>
                                </div>
                                <div class="points">
                                    1195 points
                                </div>
                            </div>
                            <div class="lboard_mem">
                                <div class="img">
                                    <img src="public/frontend/resources/images/users/pic_3.png" alt="picture_3">
                                </div>
                                <div class="name_bar">
                                    <p><span>2.</span>Johnson</p>
                                    <div class="bar_wrap">
                                        <div class="inner_bar" style="width: 80%"></div>
                                    </div>
                                </div>
                                <div class="points">
                                    1185 points
                                </div>
                            </div>
                            <div class="lboard_mem">
                                <div class="img">
                                    <img src="public/frontend/resources/images/users/pic_1.png" alt="picture_1">
                                </div>
                                <div class="name_bar">
                                    <p><span>3.</span>Charles John</p>
                                    <div class="bar_wrap">
                                        <div class="inner_bar" style="width: 70%;"></div>
                                    </div>
                                </div>
                                <div class="points">
                                    1160 points
                                </div>
                            </div>
                            <div class="lboard_mem">
                                <div class="img">
                                    <img src="public/frontend/resources/images/users/pic_5.png" alt="picture_5">
                                </div>
                                <div class="name_bar">
                                    <p><span>4.</span>Scarlett Angela</p>
                                    <div class="bar_wrap">
                                        <div class="inner_bar" style="width: 50%"></div>
                                    </div>
                                </div>
                                <div class="points">
                                    1130 points
                                </div>
                            </div>
                            <div class="lboard_mem">
                                <div class="img">
                                    <img src="public/frontend/resources/images/users/pic_4.png" alt="picture_4">
                                </div>
                                <div class="name_bar">
                                    <p><span>5.</span>Rosey</p>
                                    <div class="bar_wrap">
                                        <div class="inner_bar" style="width: 30%"></div>
                                    </div>
                                </div>
                                <div class="points">
                                    1110 points
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>	 
        </main>
        <script></script>
    </body>
</html>