.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 15px 8px 15px;
    background-color: green;
    box-shadow: 1px 1px 10px rgba(77, 77, 77, 0.322);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-bar-button {
    margin: 5px 10px 5px 10px;
}

.nav-bar-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
}

.nav-bar-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar-logo > * {
    max-width: inherit;
    max-height: inherit;
}

.nav-bar-logo {
    cursor: pointer;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-text {
    padding: 0px 15px 0px 10px;
    font-size: 30px;
    font-weight: bold;
    color: wheat;
}